{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
<article>
  <header>
    <div class="masthead">
      <h1>{{ meta.headline }}</h1>
      <div class="description">{{ meta.description }}</div>
    </div>
    <div class="search">
      <form>
        <input type="text">
      </form>
    </div>
  </header>
  <section id="card-container" class="card-container"></section>
</article>
{% endblock content %}
