@use '../variables/fonts';

.maintainers {
  margin: 1.5rem 0 0 0;
  h3 {
    font-family: fonts.$font-family-sans;
    font-size: 16px;
    text-transform: uppercase;
  }
  .card-list {
    padding-top: 0.5rem;
  }
}


