@use '../variables/fonts';
@use '../variables/colors';

.search {
  input {
    width: 100%;
    max-width: 500px;
    font-size: 17px;
    line-height: 1.4;
    margin: 0.5rem 0 0 0;
    padding: 3px;
    border: 1px solid colors.$green;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
}

.card-container {
  min-height: 40px;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.card {
  padding: 0.75rem;
  margin: 0 1rem 1rem 0;
  border: 1px solid colors.$green;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  width: 250px;
  height: 150px;
  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  display: flex;
  flex-direction: column;
  sup {
    font-size: 0.8rem;
    margin: 0 0.1rem 0 0.1rem;
    font-weight: fonts.$font-weight-headline;
    color: colors.$black;
  }
  .card--headline {
    font-family: fonts.$font-family-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    a {
      color: colors.$green;
    }
    dt.word {
      display: inline;
    }
  }
  .card--type {
    font-family: fonts.$font-family-serif;
    font-size: 16px;
    font-weight: 400;
    color: colors.$black;
  }
  .card--body {
    font-family: fonts.$font-family-sans;
    font-size: 16px;
    font-weight: 400;
    color: colors.$black;
    padding: 0.2rem 0;
  }
  .card--definition-in-use {
    color: colors.$dark-gray;
    margin: 0.5rem 0 0.5rem 1.125rem;
    padding: 0 0 0 0.5rem;
    border-left: 3px solid colors.$gray;
  }
  .card--actions {
    font-family: fonts.$font-family-sans;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    .card--actions-border {
      border-top: 1px solid colors.$gray;
      width: 100%;
      padding-top: 0.75rem;
    }
    .card--action-item {
      display: inline;
    }
    .card--supplemental {
      display: inline;
      float: right;
    }
    .card--share a:hover {
      cursor: pointer;
    }
  }
}

.word-detail {
  .footnotes {
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    width: auto;
    max-width: 700px;
    margin: 0.25em 0 1.25em 0;
  }
}

.card.card--big {
  margin: 1em 0 0 0;
  padding: 1rem;
  width: auto;
  max-width: 700px;
  height: auto;
  .card--headline {
    font-size: 28px;
    color: colors.$black;
  }
  .card--type {
    font-size: 18px;
    padding-left: 0.33rem;
  }
  sup {
    font-size: 0.8rem;
    margin: 0 0.167rem 0 0.167rem;
  }
  .card--actions {
    margin-top: 1rem;
  }
  .card--action-item {
    padding-right: 0.33rem;
  }
}

.back-arrow {
  font-size: 14px;
  margin-left: 0.25rem;
}

.card--green {
  background-color: colors.$green;
  .card--body {
    color: colors.$white;
  }
  a {
    color: colors.$white;
  }
  .card--headline {
    a {
      color: colors.$white;
    }
  }
}
