@use '../variables/colors';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

$border-width: 12px;
.gradient-border {
  border: colors.$green $border-width solid;
  @media (max-width: 480px) {
    border-width: $border-width * 0.66;
  }
}

.container {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: block;
  padding: 1.15rem;
  background: white;
  line-height: 1.4;
  @media (max-width: 480px) {
    padding: 0.33rem 0.75rem 0.33rem 0.75rem;
  }
}
