@use '../variables/colors';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

$border-width: 6px;

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - $border-width * 2);
  height: calc(100% - $border-width * 2);
  padding: 0.33rem 1.15rem 0.33rem 1.15rem;
  background-color: white;
  line-height: 1.4;
  @media (max-width: 480px) {
    padding: 0.33rem 0.75rem 0.33rem 0.75rem;
  }
}

.gradient-border {
  background: white;
  position: relative;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * $border-width);
  left: calc(-1 * $border-width);
  height: calc(100% + $border-width * 2);
  width: calc(100% + $border-width * 2);
  background: linear-gradient(
    60deg,
    #07b39b,
    #6fba82,
    lighten(colors.$green, 20%),
    colors.$green,
    darken(colors.$green, 10%)
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
