@use '../variables/fonts';

header {
  h1.masthead {
    margin: 0 0 0.2rem 0;
    font-size: 38px;
    letter-spacing: 0.05rem;
  }
  .description {
    font-family: fonts.$font-family-body;
    font-weight: fonts.$font-weight-body;
    margin: 0;
    font-size: 20px;
  }
}
