<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock lang %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ meta.seo_headline }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ meta.seo_description }}{% endblock description %}">

  {% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock viewport %}

  {% block canonical_url %}<link rel="canonical" href="{{ page.absoluteUrl }}">{% endblock canonical_url %}

  {% block meta %}
  {% endblock meta %}

  {% block opengraph %}
  <meta property="og:title" content="{{ meta.seo_headline }}">
  <meta property="og:description" content="{{ meta.seo_description }}">
  <meta property="og:url" content="{{ page.absoluteUrl }}">
  <meta property="og:image" content="{% staticabsolute meta.social_image %}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ meta.site_name }}">
  <meta property="og:locale" content="{{ meta.locale }}">
  {% endblock opengraph %}

  {% block twitter %}
  <meta property="twitter:title" content="{{ meta.seo_headline }}">
  <meta property="twitter:description" content="{{ meta.seo_description }}">
  <meta property="twitter:url" content="{{ page.absoluteUrl }}">
  <meta property="twitter:image" content="{% staticabsolute meta.social_image %}">
  <meta property="twitter:card" content="summary_large_image">
  {% endblock twitter %}

  {% block styles %}
  {% endblock styles %}

  {% block scripts %}
  {% endblock scripts %}
</head>
<body>
  <main class="gradient-border container">
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>
