{% extends 'base.html' %}

{% block styles -%}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block content %}
<article>
  {% include 'header.html' %}
  <div class="search">
    <input type="text">
  </div>
  <div class="card card--big">
    <div class="card--headline">
      <dt class="word">{{ obj.word }}</dt>
      <span class="card--type">{{ obj.type }}</span>
    </div>
    <div class="card--body">
      <dd class="card--definition-list">
        <div class="card--definition">
          {% for definition in obj.definition_list %}
            <div class="card--definition-text"><sup>{{ loop.index }}</sup> {{ definition.text }}</div>
            <div class="card--definition-in-use">{{ definition.in_use }}</div>
          {% endfor %}
        </div>
      </dd>
    </div>
    <div class="card--actions">
      <div class="card--actions-border">
      <div class="card--supplemental">
        <div class="card--action-item card--flag">
          <a href="https://github.com/palewire/moneyinpolitics.wtf/issues/new?assignees=palewire&labels=bug&template=flag-an-error.yaml&title=Error%20with%20{{ obj.word|escape }}&word={{ obj.word|escape }}">
            <svg width="15" height="15" viewBox="0 0 24 24"><path d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z" fill="currentColor"/></svg>
            Flag
          </a>
        </div>
        <div id="card--share" class="card--action-item card--share display-none">
          <a>
            <svg width="15" height="15" viewBox="0 0 24 24"><path d="M21,12L14,5V9C7,10 4,15 3,20C5.5,16.5 9,14.9 14,14.9V19L21,12Z" fill="currentColor"/></svg>
            Share
          </a>
        </div>
        <script>
          if (navigator.share) {
            const btn = document.getElementById("card--share");
            btn.classList.remove("display-none");
            const a = btn.getElementsByTagName('a')[0];
            a.addEventListener("click", function(e) {
              const url = 'https://moneyinpolitics.wtf/{{ obj.word|slugify }}/';
              navigator.share({
                url,
              });
            })
          }
        </script>
      </div>
      </div>
    </div>
</div>
</article>
{% endblock content %}
